/***************/
/*    RESET    */
/***************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
	display: block;
}

body
{
	line-height: 1;
}

ol, ul
{
	list-style: none;
}

blockquote, q
{
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after
{
	content: '';
	content: none;
}

img
{
	object-fit: contain;
}

table
{
	border-collapse: separate;
}

progress
{
  vertical-align: baseline;
}

html,
body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
}


/****************/
/*     OUI      */
/****************/

body {
	font-family: "Verdana";
	background: url("../img/back.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#navbar ul {
	height: auto;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #111B;
	display: flex;
	justify-content: center;
}

#navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	-webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

#navbar li a:hover {
	background-color: #3339;
	-webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px 0 #111, 0 6px 20px 0 #111;
}

#navbar a.active, #navbar a.active:hover {
	background-color: #C005;
}

#Contenu {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.barre { /* bonne blague non, point barre :D */
	background-color: #111;
	border-left: 3px solid rgb(182, 22, 28);
	padding: 3px 5px;
	color: white;
}

#Corps {
    background-color: #111B;
    margin: 7px auto;
    width: 98%;
    height: auto;
    max-height: 98.5%;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 4px 10px 0 #111, 0 6px 20px 0 #111;
}

#Corps .barre{
	height: 1em;
}

#Corps p, #Corps li {
	color: snow;
}

#Informations, #Mangas, #Image {
	display: flex;
}

#Informations, #Mangas {
	padding: 10px;
	height: calc(100% - 26px - 1em);
}

#Mangas, #Image {
	align-items: center;
    justify-content: center;
}

/* Mon compte */

#Informations{
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#Informations p {
	font-weight: bold;
}

/* Accueil */

#Mangas {
	align-content: space-between;
}

/* Lecteur */

#Image {
    height: calc(100% - 6px - 1em);
    width: 100%;
}

.ImG, .ImD {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.ImG {
	justify-content: flex-end;
}

.ImD {
	justify-content: flex-start;
}

.ImG img, .ImD img  {
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
}

.ImG img {
	margin: 0 0 auto auto;
}

.ImD img {
	margin: 0 auto auto 0;
}

h1 { /* En cas de chantier */
	background-color: maroon;
	color: white;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 2.5em;
	text-align: center;
}

/* Mon compte */

#InfoPerso {
	display: flex;
	width: 100%;
	flex-direction: row;
	height: 50%;
}

#InfoPerso p, #MaListe p {
	margin: 5px 0;
	padding: 7px;
}

#Photo {
	width: 25%;
	margin: 0 5px;
	display: flex;
	flex-direction: column;
}

#Photo img {
	width: 100%;
	max-width: 260px;
	height: auto;
	border-radius: 50%;
	align-self: center;
	-webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

#Photo img:hover {
	box-shadow: 0 0 20px 0 #666, 0 0 50px 0 #666;
}

#Infos {
	margin: 0 20px;
}

#Infos ul {
	padding: 10px;
}

#MaListe {
	width: 100%;
	height: 50%;
	margin: 5px 0;
	padding: 0 5px;
}

#MaListe p {
	margin: 5px;
}

#MaListe textarea {
	font-size: 0.9em;
	min-height: 30%;
	min-width: 50%;
	max-width: 90%;
	max-height: 80%;
	padding: 10px;
	margin: 10px;
	-webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    background-color: #111C;
    color: snow;
    border: none; /* --> Reset border */
    border-left: 3px solid rgb(182, 22, 28);
    border-radius: 7px;
}

#MaListe textarea:focus{
	box-shadow: 0 4px 20px 0 #111, 0 6px 40px 0 #111;
}

/* Blague */

.coucou {
    position: fixed;
    top: 50px;
    left: -165px;
    width: 190px;
    height: auto;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.coucou img {
    width: 100%;
    height: auto;
}

.coucou:hover {
    -webkit-transform: translateX(110px);
    transform: translateX(110px);
}