<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/beau.css">
	<title>Lecteur mangas</title>
</head>

<body>
	<nav id="navbar">
		<ul>
			<li><a href="index.html">Accueil</a></li>
			<li><a href="lecteur.php?m=My Hero Academia&c=184">Lecteur</a></li>
			<li><a href="#" class="active">Mon compte</a></li>
			<li><a href="forum.html">Forum / Tchat</a></li>
		</ul>
	</nav>

	<div class="coucou">
		<img src="img/easteregg.png" alt="Luffy" />
	</div>

	<div id="Contenu">
		<div id="Corps">
			<div class="barre">Mon compte</div>
			<div id="Informations">
				<div id="InfoPerso">
					<div id="Photo"><p>Mon avatar</p><img src="img/profile.png" /></div>
					<div id="Infos">
						<p>Mes infos</p>
						<ul>
							<li>Pseudo : </li>
							<li>Date inscription : </li>
						</ul>
					</div>
				</div>
				<div id="MaListe">
					<p>Ma liste de mangas</p>
					<textarea type="text" name="maListe"></textarea>
				</div>
			</div>
		</div>
	</div>
	
	<!-- <div id="Application" ng-app="monApp" ng-controller="monControlleur">
		<div id="Menu">
			<div class="barre">Menu des mangas disponibles</div>
			<div id="Liste">{{listeMangas}}</div>
		</div>
		<div id="Lecteur">
			<div class="barre">Lecteur</div>
			<div id="Image" image-man></div>
		</div>
	</div> -->

	<footer></footer>
	
</body>