<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/beau.css">
	<title>Lecteur mangas</title>
</head>

<body>
	<nav id="navbar">
		<ul>
			<li><a href="#" class="active">Accueil</a></li>
			<li><a href="lecteur.php?m=My Hero Academia&c=184">Lecteur</a></li>
			<li><a href="compte.html">Mon compte</a></li>
			<li><a href="forum.html">Forum / Tchat</a></li>
		</ul>
	</nav>

	<div id="Contenu">
		<div id="Corps">
			<div class="barre">Liste des mangas disponibles</div>
			<div id="Mangas"><p>*-- Retrouvez bientôt la liste des mangas ici --*</p></div>
		</div>
	</div>
	
	<!-- <div id="Application" ng-app="monApp" ng-controller="monControlleur">
		<div id="Menu">
			<div class="barre">Menu des mangas disponibles</div>
			<div id="Liste">{{listeMangas}}</div>
		</div>
		<div id="Lecteur">
			<div class="barre">Lecteur</div>
			<div id="Image" image-man></div>
		</div>
	</div> -->

	<footer></footer>
	
</body>